/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100%;
    background: rgb(246,218,73);
    background: linear-gradient(180deg, rgba(246,218,73,1) 0%, rgba(242,78,78,1) 100%); 
}