

/* Desktop CSS */
#mapID {
    background-color: #f2f2f2;
    height: 700px;
    margin: 5%;
    border-radius: 30px;
}

/* Mobile */
@media (min-width: 360px) and (max-width: 600px) {
    #mapID {
        background-color: #f2f2f2;
        height: 500px;
        margin-top: 3%;
        margin-right: 6%;
        margin-left: 6%;
        margin-bottom: 3%;
        border-radius: 30px;
    }
} 
    
/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
    #mapID {
        background-color: #f2f2f2;
        height: 500px;
        margin-top: 3%;
        margin-right: 6%;
        margin-left: 6%;
        margin-bottom: 3%;
        border-radius: 30px;
    }
} 